<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div id="accountpage">
            <h2>Dummy Account Data Page! :) </h2>
            <div id="profileImg">
                <img src="../../assets/account.png" alt="accountImg" width="100">
            </div>
            <p> <br>This is random account data for this fellow.</p>
            <p><strong>Name:</strong> Mr Smith</p>
            <p><strong>Occupation:</strong> Spy</p>
            <p><strong>Favourite Food:</strong> Pizza</p>
        </div>
    </body>
</html>