<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div id="accountpage">
            <h2>Account Page! :) </h2>
            <div id="profileImg">
                <img src="../../assets/account.png" alt="accountImg" width="100">
            </div>
            <p> <br>Welcome to Your Account Page. Your Details are below:</p>
            <p><strong>Username:</strong> {{this.username}}</p>
            <p><strong>Email:</strong> {{this.email}}</p>
            <p><strong>Birthdate:</strong> {{this.birthdate}}</p>
            <p><strong>Age:</strong> {{this.age}}</p>
        </div>
    </body>
</html>